<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="header">
        <% if(loggedIn) { %>
            <div>
                <img src="../<%= profile_pic %>" alt="profile_pic" width="50px" height="50px" class="heading">
                <h1 class="heading">Hello <%= username %> </h1>
            </div>
             
            <div>
                <form action="/logout" method="post" class="buttons">
                    <input type="submit" value="LOG OUT" id="logoutBtn">
                </form>
                <a href="/changePassword" class="buttons">
                    <button id="changePassBtn">Change Password</button>
                </a>
            </div>
            
        <% } else {%>
            <h1>Hello user </h1> 
            
            <div>
                <form action="/login" method="get" class="buttons">
                    <input type="submit" value="Login" id="loginBtn">
                </form>
                <form action="/register" method="get" class="buttons">
                    <input type="submit" value="Register" id="registerButton">
                </form> 
            </div>
            
        <% } %>
    </div>