<%- include("partials/header", {loggedIn: loggedIn, name: username, pic: profile_pic}) %>

    <div id="btnDiv">
        <button class="goToHomeBtn" id="goToHomeBtn">Go to Home..</button>
    </div>

    <div class="mainDiv">
        <h1>Add Product</h1>
        <% if(error) { %>
            <p id="errorNode"><%= error %></p>
        <% } %>
        <form method="post", action="/addProduct", enctype="multipart/form-data">
            <input type="file" name="product_pic" id="product_pic" required><br>
            <input type="text" name="productname" id="productname" placeholder="Enter product name*" required><br>
            <input type="number" name="productprice" id="productprice" placeholder="Enter Price*" required><br>
            <input type="number" name="productstock" id="productstock" placeholder="Enter Product stock*" required><br>
            <input type="text" name="productdesc" id="productdesc" placeholder="Enter description" required><br>
            <input type="submit" value="Add Product" id="addProductButton">
        </form>
    </div>

    <script src="scripts/productScript.js"></script>
</body>
</html>

