<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="mainDiv">
        <h1>Forgot Password? Get a link!!</h1>
        <% if(error) { %>
            <p id="errorNode"><%= error %></p>
        <% } %>
        <form method="post", action="/forgotPassword">
            <input type="email" name="email" id="email" placeholder="Enter email*" required><br>
            <input type="submit" value="GET LINK" id="forgotPassword">
        </form>
    </div>
</body>
</html>