<%- include("partials/header", {name: username, pic: profile_pic}) %>

    <h1>Swagat he apka</h1>

    <div id="popup" style="display: none;">
    </div>
    

    <div id="products"></div>

    <button class="loadBtn" id="loadBtn">Load More</button>
    <script src="scripts/script.js"></script>
</body>
</html>