<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="mainDiv registerMainDiv">

        <% if(error) { %>
            <p id="errorNode"><%= error %></p>
        <% } %>
        <form method="post" action="/register" enctype="multipart/form-data" >
            <input type="file" name="profile_pic" id="profile_pic" required><br>
            <input type="email" name="email" id="email" placeholder="Enter email*" required><br>
            <input type="text" name="username" id="username" placeholder="Enter username*" required><br>
            <input type="password" name="password" id="password" placeholder="Enter password*" required><br>
            <input type="password" name="cpassword" id="cpassword" placeholder="Confirm password*" required><br>
            <input type="submit" value="REGISTER" id="registerButton">
        </form>
        <hr>
        <p>Already have an account??</p>
        <a href="/login">
            <button id="loginBtn">LOG IN</button>
        </a>
    </div>
</body>
</html>