<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="mainDiv">
        <h1>New Password</h1>
        <% if(error) { %>
            <p id="errorNode"><%= error %></p>
        <% } %>
        <form method="post", action= "/forgotPasswordPage"'>
            <input type="password" name="npassword" id="npassword" placeholder="Enter new password*" required><br>
            <input type="password" name="cpassword" id="cpassword" placeholder="Confirm password*" required><br>
            <input type="submit" value="Submit" id="chnagePassButton">
        </form>
    </div>
</body>
</html>